<h1><center> Guassian Methods </center> </h1>

<h3> <center> Guass Elimination </center> </h3>

In [5]:
c = np.array([[25,5,1,106.8],[64,8,1,177.2],[144,12,1,279.2]])
x = np.ones(3)
n = len(c)
for i in range(0,n):
    for j in range((i+1),n):
        c[j] = c[j]-(c[i]*(c[j][i])/(c[i][i]))
        

for i in range(n-1,-1,-1):
    y = 0
    for j in range(n-1,-1,-1):
        if i != j:
            if i < j:
                y = y + ((c[i][j]) * x[j])
            else:
                y = y + c[i][j]
    y = c[i][3] - y
    x[i] = y / c[i][i]

    
for i in range(0,int(len(x))):
    print(f"x{i+1} is :", round(x[i],5))

x1 is : 0.29048
x2 is : 19.69048
x3 is : 1.08571

<h3> <center> Guass Jaccobi </center> </h3>

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(columns=['x1','x2','x3'])
c = np.array([[2,-1,1,-1],[1,2,-1,6],[1,-1,2,-3]])
x = np.ones(3)

x = np.zeros(len(c))
xcop = np.zeros(len(c))
for k in range(0,15):
    for i in range(0,len(c)):
        y = 0
        for j in range(0,len(c)):
            if i != j:
                y = y + (c[i][j] * x[j])
        y = c[i][len(c)] - y
        xcop[i] = y / c[i][i]
    for i in range(0,len(x)):
        x[i] = xcop[i]
    df.loc[k+1] = [x[0],x[1],x[2]]
        
round(df,4)

        x1      x2      x3
1  -0.5000  3.0000 -1.5000
2   1.7500  2.5000  0.2500
3   0.6250  2.2500 -1.1250
4   1.1875  2.1250 -0.6875
5   0.9062  2.0625 -1.0312
6   1.0469  2.0312 -0.9219
7   0.9766  2.0156 -1.0078
8   1.0117  2.0078 -0.9805
9   0.9941  2.0039 -1.0020
10  1.0029  2.0020 -0.9951
11  0.9985  2.0010 -1.0005
12  1.0007  2.0005 -0.9988
13  0.9996  2.0002 -1.0001
14  1.0002  2.0001 -0.9997
15  0.9999  2.0001 -1.0000

<h3> <center> Guass Jorden </center> </h3>

In [3]:
c = np.array([[25,5,1,106.8],[64,8,1,177.2],[144,12,1,279.2]])
x = np.ones(3)
n = len(c)

for i in range(0,n):
    c[i] = c[i] / c[i][i]
    for j in range(0,n):
        if i != j:
            c[j] = c[j] - c[j][i] * c[i]
            
for i in range(0,n):
    print(f"x{i+1} is :",c[i][3])

x1 is : 0.2904761904761916
x2 is : 19.690476190476172
x3 is : 1.0857142857143551

<h3> <center> Guass Seidel </center> </h3>

In [4]:
df = pd.DataFrame(columns=['x1','x2','x3','x4'])
c = np.array([[10,-1,2,0,6],[-1,11,-1,3,25],[2,-1,10,-1,-11],[0,3,-1,8,15]])

x = np.zeros(len(c))
for k in range(0,9):
    for i in range(0,len(c)):
        y = 0
        for j in range(0,len(c)):
            if i != j:
                y = y + (c[i][j] * x[j])
        y = c[i][len(c)] - y
        x[i] = y / c[i][i] 
    df.loc[k+1] = [x[0],x[1],x[2],x[3]]
        
round(df,4)

       x1      x2      x3      x4
1  0.6000  2.3273 -0.9873  0.8789
2  1.0302  2.0369 -1.0145  0.9843
3  1.0066  2.0036 -1.0025  0.9984
4  1.0009  2.0003 -1.0003  0.9998
5  1.0001  2.0000 -1.0000  1.0000
6  1.0000  2.0000 -1.0000  1.0000
7  1.0000  2.0000 -1.0000  1.0000
8  1.0000  2.0000 -1.0000  1.0000
9  1.0000  2.0000 -1.0000  1.0000

<h3> <center> Assembeled & Compiled By : Hafiz Muhammad Waqas  </center> </h3>